<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/favicon.ico}">
    <title>Golden Sneaker</title>
    <link th:href="@{/css/app.1dac1a7f.css}" rel="preload" as="style">
    <link th:href="@{/js/app.b756e9d7.js}" rel="preload" as="script">
    <link th:href="@{/js/chunk-vendors.d8c3231a.js}" rel="preload" as="script">
    <link th:href="@{/css/app.1dac1a7f.css}" rel="stylesheet">
</head>
<body>
    <noscript>
        <strong>We're sorry but Golden Sneaker doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="App_mainContent_12BYb">
        <div class="App_card_38zmH">
            <div class="App_cardTop_3hHIG">
                <img src="nikeimage" class="App_cardTopLogo_2ho9K">
            </div>
            <div class="App_cardTitle_29nyq">Our Products</div>
            <div class="App_cardBody_1tfYc">
                <div>
                    <div class="App_shopItem_3FgVU">
                        <div class="App_shopItemImage_341iU" style="background-color: rgb(225, 231, 237);">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-mens-running-shoe-wide-D24Mcz-removebg-preview.png">
                        </div>
                        <div class="App_shopItemName_1_FJR">Nike Air Zoom Pegasus 36</div>
                        <div class="App_shopItemDescription_1EIVK">The iconic Nike Air Zoom Pegasus 36 offers more cooling and mesh that targets breathability across high-heat areas. A slimmer heel collar and tongue reduce bulk, while exposed cables give you a snug fit at higher speeds.</div>
                        <div class="App_shopItemBottom_3401_">
                            <div class="App_shopItemPrice_2SLiG">$108.97</div>
                            <div class="App_shopItemButton_23FO1"><p>ADD TO CART</p></div>
                        </div>
                    </div>
                    <div class="App_shopItem_3FgVU">
                        <div class="App_shopItemImage_341iU" style="background-color: rgb(77, 49, 127);">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-shield-mens-running-shoe-24FBGb__1_-removebg-preview.png">
                        </div>
                        <div class="App_shopItemName_1_FJR">Nike Air Zoom Pegasus 36 Shield</div>
                        <div class="App_shopItemDescription_1EIVK">The Nike Air Zoom Pegasus 36 Shield gets updated to conquer wet routes. A water-repellent upper combines with an outsole that helps create grip on wet surfaces, letting you run in confidence despite the weather.</div>
                        <div class="App_shopItemBottom_3401_">
                            <div class="App_shopItemPrice_2SLiG">$89.97</div>
                            <div class="App_shopItemButton_23FO1"><p>ADD TO CART</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="App_card_38zmH">
            <div class="App_cardTop_3hHIG">
                <img src="" class="App_cardTopLogo_2ho9K">
            </div>
            <div class="App_cardTitle_29nyq">Your cart<span class="App_cardTitleAmount_17QFR">$160.00</span></div>
            <div class="App_cardBody_1tfYc">
                <!---->
                <div>
                    <div>
                        <div class="App_cartItem_lfA9I">
                            <div class="App_cartItemLeft_1HqDk cartItemLeft">
                                <div class="App_cartItemImage_1rLvq cartItemImage" style="background-color: rgb(242, 245, 244);">
                                    <div class="App_cartItemImageBlock_wRE4E">
                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/react-infinity-run-flyknit-mens-running-shoe-RQ484B__2_-removebg-preview.png">
                                    </div>
                                </div>
                            </div>
                            <div class="App_cartItemRight_2LNcC cartItemRight">
                                <div class="App_cartItemName_3he6M cartItemName">Nike React Infinity Run Flyknit</div>
                                <div class="App_cartItemPrice_R0sr2 cartItemPrice">$160.00</div>
                                <div class="App_cartItemActions_13kia cartItemActions">
                                    <div class="App_cartItemCount_1GCCN cartItemCount">
                                        <div class="App_cartItemCountButton_Gr8VG">-</div>
                                        <div class="App_cartItemCountNumber_1Evq9">1</div>
                                        <div class="App_cartItemCountButton_Gr8VG">+</div>
                                    </div>
                                    <div class="App_cartItemRemove_1GiLR cartItemRemove">
                                        <img src="nikeimage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/chunk-vendors.d8c3231a.js}"></script>
    <script th:src="@{/js/app.b756e9d7.js}"></script>
</body>
</html>
